.container-botonws {
  /*color de fondo imagen*/
  background-color: #f4f4f4;
  border: 1px solid #ffffff;
  position: fixed;
  z-index: 1000;
  border-radius: 50%;
  bottom: 30px;
  right: 20px;
  padding: 25px;
  transition: ease 0.3s;
  animation: efecto 1.2s infinite;
}

button {
  background-color: white;
  color: rgb(0, 0, 0);
  border: none;
  border-radius: 4px;
  padding: 12px 20px;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

button:hover {
  background-color: blue;
  transform: scale(1.05);
  color: white;
}

button:active {
  transform: scale(0.95); /* Efecto de pulsar */
}

.container-botonws:hover {
  transform: scale(1.1);
  transition: 0.3s;
}

.botonws {
  width: 60px;
  transition: ease 1s;
}

@keyframes efecto {
  0% {
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.85);
  }
  100% {
    box-shadow: 0 0 0 25px rgba(0, 0, 0, 0);
  }
}

.espacio {
  padding: 120px 0;
}

.linea {
  margin: 5rem 0;
}

.bannerparallax {
  display: flex;
  align-items: center;
  position: relative;
  background-attachment: fixed;
  background-size: cover;
  height: calc(40vh);
  background-position: center;
  background-image: url("/imagenes/rest2.jpg");
  background-color: none;
  box-shadow: none;
}

section.bannerparallax {
  background-color: #f4d2ab;
}

footer {
  color: #fff;
  padding-top: 10px;
  background-color: #00000048;
}

footer h3 {
  color: #ffffff;
  letter-spacing: 1px;
  margin: 30px 0 20px;
}

footer .copyright {
  padding: 15px 0;
  margin-top: 20px;
  font-size: 1.3rem;
}

label {
  color: #000;
  margin-top: 20px;
  letter-spacing: 1px;
  font-size: 20px;
  font-weight: bolder;
  float: left;
}

input:hover {
  outline: 3px solid brown;
}

textarea:hover {
  outline: 3px solid brown;
}

input,
textarea {
  cursor: pointer;
  background-color: #e2e2e2;
}

.enviar {
  color: #fff;
  margin: 0 auto;
  font-size: 18px;
  cursor: pointer;
  padding-left: 5px;
  padding-right: 5px;
  margin: 20px 20px;
  border-width: 2px;
  border-color: #e7cdf5;
  background-color: rgb(41, 171, 34);
}

.borrar {
  color: #fff;
  width: 170px;
  height: 60px;
  margin: 0 auto;
  font-size: 26px;
  cursor: pointer;
  padding-left: 20px;
  padding-right: 20px;
  margin: 20px 20px;
  border-width: 2px;
  border-color: #e7cdf5;
  background-color: brown;
}

.rest {
  background-image: url("../imagenes/rest2.jpg");
}

textarea {
  resize: none;
  height: 150px;
  max-height: 150px;
  min-height: 150px;
  max-width: auto;
  min-width: 400px;
}

@media (max-width: 575px) {
  html {
    font-size: 1rem;
  }
  .logo img {
    margin-left: 50px;
  }
  .navbar-toggler {
    margin: 0 auto;
  }
  .titulo {
    font-size: 2.5rem;
    margin-top: 150px;
  }
  p {
    font-size: 1.1rem !important;
  }
  .bannerparallax {
    height: calc(100vh);
  }
}

@media (min-width: 1400px) {
  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl,
  .container-xxl {
    max-width: 1140px;
  }
}

.columna {
  width: 50%;
  padding: 0 15px;
  box-sizing: border-box;
}

i.fab {
  font-size: 40px;
  margin: 0 20px 0 0;
  padding-bottom: 20px;
  color: #000000;
}
