/********************* ESTILOS GENRALES ******************************/

html {
    font-size: 16px;
  }
  
  body {
    color: gray;
    font-family: "Roboto", sans-serif;
    overflow-x: hidden;
  }
  
  
  h1 {
    font-size: 4rem;
  }
  
  h2 {
    font-size: 2.5rem;
  }
  
  h3 {
    font-size: 2rem;
  }
  
  p {
    font-size: 1.5rem;
  }
  
  .titulajes {
    color: #003c5e;
    font-weight: bolder;
    font-size: 2.5rem;
  }
  
  .titulo {
    font-size: 48px;
    text-transform: uppercase;
    margin-bottom: 20px;
  }
  
  .negrita {
    font-weight: bolder;
  }
  
  .fondo1 {
    background-color: #928372;
    box-shadow: 5px 5px 8px #fff;
  }
  
  .fondo2 {
    background-color: #d6dbe3;
  }
  
  .fondo3 {
    background-color: #fae308;
  }
  
  .btnentrada {
    cursor: pointer;
    background-color: #928372;
    width: 200px;
    height: 60px;
    border: 3px solid #e4e4e4;
    color: #fff;
    font-family: "Roboto", sans-serif;
    font-size: 2.2rem;
    font-weight: bold;
    padding: 15px 50px;
    text-decoration: none;
    transition: linear 0.5s;
  }
  
  .btnentrada:hover {
    width: 200px;
    height: 60px;
    background-color: #e4e4e4;
    color: #000;
    border: 3px solid #0b3e64;
    text-decoration: none;
    padding: 15px 50px;
    font-size: 2.2rem;
    transition: linear 0.5s;
  }
  
  .goto-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 75px;
    height: 50px;
  }
  
  .card-title {
    font-weight: bolder !important;
  }
  
  .card p {
    font-size: 18px;
    align-items: center;
  }
  
  .button {
    margin: 0 10px; 
  }
  
  @media (max-width: 575px) {
    .card {
      margin: 0 auto;
      margin-bottom: 50px;
    }
    .bannerparallax {
      height: calc(100vh);
    }
    .animacion1 {
      width: 100% !important;
    }
  }
  
  @media (min-width: 576px) {
    .card {
      margin: 0 auto;
      margin-bottom: 50px;
      width: 16rem !important;
    }
    .bannerparallax {
      height: calc(100vh);
    }
  }
  
  @media (min-width: 768px) {
    .card {
      margin: 0 auto;
      margin-bottom: 50px;
      width: 18rem !important;
    }
    .bannerparallax {
      height: calc(40vh);
    }
  }
  