* {
    margin: 0;
    padding: 0;
}

body {
    overflow-x: hidden;
}

/*tamaño inicial foto 360*/

#panorama-container {
    width: 1300px;
    height: 700px;
    margin: 0 auto;
    background-position: center;
}

.fondo {
    background-color: #2b7277;
    width: 100%;
}

header {
    width: 100%;
}

.cursor {
    cursor: pointer;
}

footer {
    /*si se quita la posicion fija el pie de pagina dejara de estar al final de la pagina*/
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
}